@import "tailwindcss";

@theme{
    --color-primario: #3b463e;
    --color-primario-light: #6e712e;
    --color-secundario: #d6b997;
    --color-secundario-light: #ccc0b4;
    /* fuentes */
    --font-titulos:'BlairITC', 'sans-serif';
    --font-subtitulos:'BlairITCMedium', 'sans-serif';
    --font-parrafos:'FuturaBook','sans-serif';
    --font-medioparrafo:'Futura','sans-serif';
}

.font-dancing {
  font-family: 'Dancing Script', cursive;
}
.font-alex {
  font-family: 'Alex Brush', cursive;
}
.font-parisienne {
  font-family: 'Parisienne', cursive;
}


.bg-form{
    background-color: rgba(105, 125, 110, 0.8);
}
.box-service{
    border-radius: 5px;
    top: 0;
    right: 0;
    padding: 20px;
}
.mt-icon{
    margin-top: -70px;
}
.background-hero{
    background-size: 105%;
}

@font-face {
  font-family: 'BlairITC';
  src: url('/fonts/BlairITCBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'BlairITCMedium';
  src: url('/fonts/BlairITCMedium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura.ttc') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaBook';
  src: url('/fonts/FuturaBook.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
/* Animacion */

@layer utilities {
  .fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
  }

  .fade-in-up.show {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-stroke {
  -webkit-text-stroke: 0.5px whitesmoke;
  text-stroke: 0.5px whitesmoke; /* para navegadores que lo soporten */
}