---

---
<!-- banner -->
<div class="flex flex-col rounded-none mt-[90px] bg-no-repeat bg-auto md:bg-cover bg-center bg-[url('/img/fototres.svg')]">
  <div
    class=" pt-10 md:pt-0 px-5 md:px-0 flex flex-col items-start mt-0 h-auto md:h-[647px] w-full "
    
  >
     <!-- Form -->
    <div class="hidden md:flex mt-4 min-h-[300px] w-[1027px]">
      
    </div>
    
    <!-- Texto e imagen-->
    <div
      class="flex flex-col self-center mt-0 max-w-full text-5xl font-bold text-orange-200 w-[1027px] max-md:mt-0 max-md:text-4xl"
    >
      <div class="max-w-full min-h-[247px] w-[640px] max-md:text-4xl">
        <h3 class="text-xl font-subtitulos max-md:max-w-full md:text-4xl">MI PATRIA</h3>
        <h2 class="text-xl font-subtitulos mt-2.5 max-md:max-w-full md:text-4xl font-OutfitMedium">
          FIRMA JURIDICA
        </h2>
        <p class="font-futurabook mt-2.5 text-lg md:text-xl text-red-300 max-md:max-w-full text-justify">
          <span class="font-parrafos text-white text-base">
            Nuestra firma jurídica nace con una misión clara: 
            ser el puente legal confiable para los ecuatorianos 
            que viven en el exterior. Brindamos soluciones 
            jurídicas integrales y estratégicas que atienden 
            las necesidades reales de quienes, aunque lejos, 
            siguen vinculados a su país.
          </span>
        </p>
      </div>
      <img
        src="/img/isotipo.png"
        alt="Logo"
        class="hidden md:block object-contain z-10 self-end mt-icon max-w-full aspect-[0.99] w-[210px]"
      />
    </div>
  </div>
</div>


    
<!-- https://cdn.builder.io/api/v1/image/assets/TEMP/149eb5f3a8c8f893e7c61ce28966fce30cfd171d?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472 -->