---

---
<!-- banner -->
<div class="flex flex-col rounded-none mt-[90px]">
  <div
    class="flex flex-col items-start mt-0 h-[647px] background-hero bg-center w-full bg-[url('../../public/img/fototres.svg')]"
    
  >
     <!-- Form -->
    <div class="mt-4 flex justify-end self-center max-w-full font-bold text-orange-200 w-[1027px]">
      <div
      class="flex justify-center items-center rounded-3xl bg-form min-h-[350px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)]"
    >

      <div
        class="flex flex-col items-center self-stretch my-auto h-[298px] min-w-60 w-[414px]"
      >
        <h2 class="text-secundario font-titulos pt-5 max-w-full text-2xl color-secundario-txt w-[310px]">
          Dejanos tus datos
        </h2>
        <form class="max-w-full w-[310px] mx-auto mt-4 shadow-md">
          <!-- contenedor nombre telefono -->
          <div class="font-parrafos flex flex-row gap-4">
            <!-- nombre -->
            <div class="mb-4">
              <input
                type="text"
                placeholder="Nombre"
                class="text-primario font-parrafos w-full p-3 bg-white placeholder-gray-400 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-green-800"
              />
            </div>
            <!-- telefono -->
            <div class="mb-4">
              <input
              type="tel"
              placeholder="Número"
              class="text-primario font-parrafos w-full p-3 bg-white placeholder-gray-400 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-green-800"
              />
            </div>
          </div>
          <div class="mb-4 ">
            <input
              type="email"
              placeholder="Correo"
              class="font-parrafos w-full p-3 bg-white placeholder-gray-400 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-green-800"
            />
          </div>
          <button
            type="submit"
            class="w-full bg-primario text-white font-semibold py-3 rounded-xl hover:bg-primario-light transition"
          >
            Enviar
          </button>
        </form>
      </div>
    
      </div>
    </div>
    
    <!-- Texto e imagen-->
    <div
      class="flex flex-col self-center mt-0 max-w-full text-5xl font-bold text-orange-200 w-[1027px] max-md:mt-0 max-md:text-4xl"
    >
      <div class="max-w-full min-h-[247px] w-[640px] max-md:text-4xl">
        <h3 class="font-subtitulos max-md:max-w-full max-md:text-4xl">MI PATRIA</h3>
        <h2 class="font-subtitulos mt-2.5 max-md:max-w-full max-md:text-4xl font-OutfitMedium">
          FIRMA JURIDICA
        </h2>
        <p class="font-futurabook mt-2.5 text-xl text-red-300 max-md:max-w-full">
          <span class="font-parrafos text-secundario">
            En el corazón de Guayaquil, nuestra firma de abogados se erige como un 
            baluarte de experiencia y compromiso. Ofrecemos soluciones jurídicas 
            integrales y estratégicas.
          </span>
        </p>
      </div>
      <img
        src="../../public/img/isotipo.png"
        alt="Logo"
        class="object-contain z-10 self-end mt-icon max-w-full aspect-[0.99] w-[210px]"
      />
    </div>
  </div>
</div>

<!-- https://cdn.builder.io/api/v1/image/assets/TEMP/149eb5f3a8c8f893e7c61ce28966fce30cfd171d?placeholderIfAbsent=true&apiKey=2ae942d826f94e6aab2cf449d09e4472 -->