---
import './src/styles/global.css'
---
<!-- header -->
<div class="fixed top-0 h-[90px] z-40 flex flex-col items-start w-full bg-primario">
  <div class="flex flex-col justify-center items-center px-8 py-7 w-full h-[100px]">
    <div class="flex gap-16 items-center w-full max-w-screen-lg">
      <div class="flex justify-center items-center h-[85px] w-[216px]">
        <img
          src="../../public/img/logoMiPatria.png"
          alt="MI Patria Logo"
        />
      </div>
      <div class="flex gap-12 justify-end items-center w-[740px] max-md:hidden">
        <ul class="flex gap-8 justify-end items-center w-[410px]">
          <li class="text-base text-secundario font-parrafos"><a href="#servicios">Servicios</a></li>
          <li class="text-base text-secundario font-parrafos"><a href="#nosotros">Nosotros</a></li>
          <li class="text-base text-secundario font-parrafos"><a href="#contacto">Contacto</a></li>
        </ul>
        <div class="flex gap-6 items-center">
          <div>
            <svg id="66:42" width="77" height="43" viewBox="0 0 77 43" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-[77px] h-[42px]">
              <path d="M33.6786 18.9603C33.8305 18.8395 34.0565 18.9525 34.0565 19.1434V27.1091C34.0565 28.1414 33.219 28.9789 32.1867 28.9789H15.9825C14.9503 28.9789 14.1128 28.1414 14.1128 27.1091V19.1473C14.1128 18.9525 14.3348 18.8434 14.4906 18.9642C15.3632 19.642 16.5201 20.5028 20.4932 23.3892C21.3151 23.9891 22.7018 25.2511 24.0846 25.2433C25.4752 25.255 26.8892 23.9657 27.6799 23.3892C31.6531 20.5028 32.8061 19.6381 33.6786 18.9603ZM24.0846 23.9929C24.9883 24.0085 26.2893 22.8555 26.9437 22.3803C32.1127 18.6292 32.5061 18.302 33.6981 17.3671C33.924 17.1918 34.0565 16.9192 34.0565 16.6309V15.8908C34.0565 14.8586 33.219 14.0211 32.1867 14.0211H15.9825C14.9503 14.0211 14.1128 14.8586 14.1128 15.8908V16.6309C14.1128 16.9192 14.2452 17.188 14.4712 17.3671C15.6631 18.2981 16.0565 18.6292 21.2255 22.3803C21.8799 22.8555 23.1809 24.0085 24.0846 23.9929Z" fill="#FCF0E3"/>
              <path d="M67.0305 16.3878C64.2007 16.3878 61.9183 18.6703 61.9183 21.5C61.9183 24.3297 64.2007 26.6122 67.0305 26.6122C69.8602 26.6122 72.1426 24.3297 72.1426 21.5C72.1426 18.6703 69.8602 16.3878 67.0305 16.3878ZM67.0305 24.8236C65.2018 24.8236 63.7069 23.3331 63.7069 21.5C63.7069 19.6669 65.1974 18.1764 67.0305 18.1764C68.8635 18.1764 70.354 19.6669 70.354 21.5C70.354 23.3331 68.8591 24.8236 67.0305 24.8236ZM73.5441 16.1787C73.5441 16.8417 73.0102 17.3711 72.3517 17.3711C71.6888 17.3711 71.1593 16.8372 71.1593 16.1787C71.1593 15.5202 71.6932 14.9863 72.3517 14.9863C73.0102 14.9863 73.5441 15.5202 73.5441 16.1787ZM76.93 17.3889C76.8543 15.7916 76.4895 14.3768 75.3194 13.2111C74.1537 12.0454 72.7388 11.6806 71.1415 11.6005C69.4953 11.507 64.5611 11.507 62.9149 11.6005C61.3221 11.6761 59.9072 12.0409 58.7371 13.2066C57.5669 14.3723 57.2066 15.7872 57.1265 17.3845C57.033 19.0307 57.033 23.9649 57.1265 25.6111C57.2021 27.2084 57.5669 28.6232 58.7371 29.7889C59.9072 30.9546 61.3176 31.3194 62.9149 31.3995C64.5611 31.493 69.4953 31.493 71.1415 31.3995C72.7388 31.3239 74.1537 30.9591 75.3194 29.7889C76.4851 28.6232 76.8499 27.2084 76.93 25.6111C77.0234 23.9649 77.0234 19.0351 76.93 17.3889ZM74.8033 27.3774C74.4562 28.2495 73.7844 28.9213 72.9079 29.2728C71.5954 29.7934 68.4809 29.6732 67.0305 29.6732C65.58 29.6732 62.4611 29.7889 61.153 29.2728C60.281 28.9258 59.6091 28.2539 59.2577 27.3774C58.7371 26.0649 58.8572 22.9504 58.8572 21.5C58.8572 20.0496 58.7415 16.9306 59.2577 15.6226C59.6047 14.7505 60.2765 14.0787 61.153 13.7272C62.4655 13.2066 65.58 13.3268 67.0305 13.3268C68.4809 13.3268 71.5998 13.2111 72.9079 13.7272C73.7799 14.0742 74.4518 14.7461 74.8033 15.6226C75.3238 16.9351 75.2037 20.0496 75.2037 21.5C75.2037 22.9504 75.3238 26.0694 74.8033 27.3774Z" fill="#FCF0E3"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="hidden gap-5 items-center ml-auto max-md:flex">
        <div class="text-orange-50">
          <i class="ti ti-menu-2 text-2xl"></i>
        </div>
      </div>
    </div>
  </div>
</div>