---

---
<!-- servicios -->
<section id="servicios" class="bg-[#fdf6f1] py-44 px-6 md:px-16">
  <div class="flex flex-col gap-4 max-w-6xl mx-auto text-center">
    <!-- fila uno -->
    <div class="flex gap-4">
      <!-- titulo section -->
      <div class="text-left">
        <h4 class="font-subtitulos text-lg tracking-widest text-gray-500 mb-2">Nuestros Servicios</h4>
        <h2 class="font-subtitulos text-3xl font-semibold text-gray-800 mb-4">Servicios legales<br />para tu tranquilidad</h2>
        <p class="max-w-2xl mx-auto text-gray-600 mb-12 font-futurabook">
          Nuestros servicios legales integrales están diseñados para brindarle la asesoría y representación experta que necesita en diversas áreas del derecho
        </p>
      </div>   
      <!-- servicio 1 y 2 -->     
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
          <div class="bg-primario text-[#fef1db] rounded-lg p-6 relative flex flex-col gap-4 shadow-md">
            <h2 class="h-1/4 text-4xl font-bold text-left">1.</h2>
            <div class="h-3/4 flex flex-col pt-6">
              <p class="text-lg leading-snug font-futurabook">Tramites notariales, registrales y municipales</p>
            </div>
            <div class="absolute box-service bg-[#5e7b68] ">
              <svg class="w-6 h-6 text-[#fef1db]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 14l6-6m0 0l-6-6m6 6H3" />
              </svg>
            </div>
          </div>
          <div class="bg-primario text-[#fef1db] rounded-lg p-6 relative flex flex-col gap-4 shadow-md">
            <h2 class="h-1/4 text-4xl font-bold text-left">2.</h2>
            <div class="h-3/4 flex flex-col pt-6">
              <p class="text-lg leading-snug font-futurabook">Posesiones efectivas </p>
            </div>
            <div class="absolute box-service bg-[#5e7b68] ">
              <svg class="w-6 h-6 text-[#fef1db]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 14l6-6m0 0l-6-6m6 6H3" />
              </svg>
            </div>
          </div>
      </div>
    </div>
    <!-- fila dos -->
    <div class="">
      
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 min-h-[244px]">
          <div class="bg-primario text-[#fef1db] rounded-lg p-6 relative flex flex-col gap-4 shadow-md">
            <h2 class="h-1/4 text-4xl font-bold text-left">3.</h2>
            <div class="h-3/4 flex flex-col pt-6">
              <p class="text-lg leading-snug font-futurabook">Traspasos de dominio de bienes muebles e inmuebles</p>
            </div>
            <div class="absolute box-service bg-[#5e7b68] ">
              <svg class="w-6 h-6 text-[#fef1db]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 14l6-6m0 0l-6-6m6 6H3" />
              </svg>
            </div>
          </div>
          <!--  -->
          <div class="bg-primario text-[#fef1db] rounded-lg p-6 relative flex flex-col gap-4 shadow-md">
            <h2 class="h-1/4 text-4xl font-bold text-left">4.</h2>
            <div class="h-3/4 flex flex-col pt-6">
              <p class="text-lg leading-snug font-futurabook">Tramites societarios (creación de compañías, aumentos de capital, cierre de compañías)</p>
            </div>
            <div class="absolute box-service bg-[#5e7b68] ">
              <svg class="w-6 h-6 text-[#fef1db]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 14l6-6m0 0l-6-6m6 6H3" />
              </svg>
            </div>
          </div>
          <!--  -->
          <div class="bg-primario text-[#fef1db] rounded-lg p-6 relative flex flex-col gap-4 shadow-md">
            <h2 class="h-1/4 text-4xl font-bold text-left">5.</h2>
            <div class="h-3/4 flex flex-col pt-6">
              <p class="text-lg leading-snug font-futurabook">Registros de marcas</p>
            </div>
            <div class="absolute box-service bg-[#5e7b68] ">
              <svg class="w-6 h-6 text-[#fef1db]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 14l6-6m0 0l-6-6m6 6H3" />
              </svg>
            </div>
          </div>
          <!--  -->
          <div class="bg-primario text-[#fef1db] rounded-lg p-6 relative flex flex-col gap-4 shadow-md">
            <h2 class="h-1/4 text-4xl font-bold text-left">6.</h2>
            <div class="h-3/4 flex flex-col pt-6">
              <p class="text-lg leading-snug font-futurabook">Registros de notificaciones sanitarias </p>
            </div>
            <div class="absolute box-service bg-[#5e7b68] ">
              <svg class="w-6 h-6 text-[#fef1db]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 14l6-6m0 0l-6-6m6 6H3" />
              </svg>
            </div>
          </div>
      </div>
    </div>
    <!-- fila tres -->
    <div class="">
      
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 min-h-[244px]">
          <div class="bg-primario text-[#fef1db] rounded-lg p-6 relative flex flex-col gap-4 shadow-md">
            <h2 class="h-1/4 text-4xl font-bold text-left">7.</h2>
            <div class="h-3/4 flex flex-col pt-6">
              <p class="text-lg leading-snug font-futurabook">Cobro de deudas, ejecución de pagarés, ejecución de hipotecas </p>
            </div>
            <div class="absolute box-service bg-[#5e7b68] ">
              <svg class="w-6 h-6 text-[#fef1db]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 14l6-6m0 0l-6-6m6 6H3" />
              </svg>
            </div>
          </div>
          <!--  -->
          <div class="bg-primario text-[#fef1db] rounded-lg p-6 relative flex flex-col gap-4 shadow-md">
            <h2 class="h-1/4 text-4xl font-bold text-left">8.</h2>
            <div class="h-3/4 flex flex-col pt-6">
              <p class="text-lg leading-snug font-futurabook">Juicios civiles para prescripción de deudas </p>
            </div>
            <div class="absolute box-service bg-[#5e7b68] ">
              <svg class="w-6 h-6 text-[#fef1db]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 14l6-6m0 0l-6-6m6 6H3" />
              </svg>
            </div>
          </div>
          <!--  -->
          <div class="bg-primario text-[#fef1db] rounded-lg p-6 relative flex flex-col gap-4 shadow-md">
            <h2 class="h-1/4 text-4xl font-bold text-left">9.</h2>
            <div class="h-3/4 flex flex-col pt-6">
              <p class="text-lg leading-snug font-futurabook">Regularización de arrendamientos</p>
            </div>
            <div class="absolute box-service bg-[#5e7b68] ">
              <svg class="w-6 h-6 text-[#fef1db]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 14l6-6m0 0l-6-6m6 6H3" />
              </svg>
            </div>
          </div>
          <!--  -->
          <div class="bg-primario text-[#fef1db] rounded-lg p-6 relative flex flex-col gap-4 shadow-md">
            <h2 class="h-1/4 text-4xl font-bold text-left">10.</h2>
            <div class="h-3/4 flex flex-col pt-6">
              <p class="text-lg leading-snug font-futurabook">Elaboración de contratos de arrendamiento</p>
            </div>
            <div class="absolute box-service bg-[#5e7b68] ">
              <svg class="w-6 h-6 text-[#fef1db]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 14l6-6m0 0l-6-6m6 6H3" />
              </svg>
            </div>
          </div>
      </div>
    </div>
    <!-- fila cuatro -->
    <div class="">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 min-h-[244px]">
          <div class="bg-primario text-[#fef1db] rounded-lg p-6 relative flex flex-col gap-4 shadow-md">
            <h2 class="h-1/4 text-4xl font-bold text-left">11.</h2>
            <div class="h-3/4 flex flex-col pt-6">
              <p class="text-lg leading-snug font-futurabook">Elaboración de todo tipo de contratos </p>
            </div>
            <div class="absolute box-service bg-[#5e7b68] ">
              <svg class="w-6 h-6 text-[#fef1db]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 14l6-6m0 0l-6-6m6 6H3" />
              </svg>
            </div>
          </div>
          <!--  -->
          <div class="bg-primario text-[#fef1db] rounded-lg p-6 relative flex flex-col gap-4 shadow-md">
            <h2 class="h-1/4 text-4xl font-bold text-left">12.</h2>
            <div class="h-3/4 flex flex-col pt-6">
              <p class="text-lg leading-snug font-futurabook">Traducción y notarización de documentos en la Embajada Norteamericana</p>
            </div>
            <div class="absolute box-service bg-[#5e7b68] ">
              <svg class="w-6 h-6 text-[#fef1db]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 14l6-6m0 0l-6-6m6 6H3" />
              </svg>
            </div>
          </div>
          <!--  -->
          <div class="bg-primario text-[#fef1db] rounded-lg p-6 relative flex flex-col gap-4 shadow-md">
            <h2 class="h-1/4 text-4xl font-bold text-left">13.</h2>
            <div class="h-3/4 flex flex-col pt-6">
              <p class="text-lg leading-snug font-futurabook">Apostilla de documentos</p>
            </div>
            <div class="absolute box-service bg-[#5e7b68] ">
              <svg class="w-6 h-6 text-[#fef1db]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 14l6-6m0 0l-6-6m6 6H3" />
              </svg>
            </div>
          </div>
          <!--  -->
          <div class="bg-primario text-[#fef1db] rounded-lg p-6 relative flex flex-col gap-4 shadow-md">
            <h2 class="h-1/4 text-4xl font-bold text-left">14.</h2>
            <div class="h-3/4 flex flex-col pt-6">
              <p class="text-lg leading-snug font-futurabook">Representación jurídica a través de poderes </p>
            </div>
            <div class="absolute box-service bg-[#5e7b68] ">
              <svg class="w-6 h-6 text-[#fef1db]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 14l6-6m0 0l-6-6m6 6H3" />
              </svg>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

